
.visible
{
    display: flex;
}

.hidden
{
    display: none;
}

.container
{
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: start;
    z-index: 15;
    .hamb_menu
    {
        width: 100%;
        background-color: #020202;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #484444;
        .logo
        {
            display: flex;
            gap: 1rem;
            padding: 2rem;
            border-bottom: 1px solid #484444;
            img
            {
                width: 5rem;
                height: 5rem;
            }
            div
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                p
                {
                    color: #FFFFFF80;
                }
            }
        }
        .linkovi
        {
            width: 50%;
            padding-block: 2rem;
            .link
            {
                display: flex;
                align-items: center;
                justify-content: center;
                a
                {
                    width: 100%;
                    font-size: 20px;
                    padding-block: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                a:hover
                {
                    font-weight: 600;
                    ion-icon
                    {
                        transition: all 0.2s ease;
                        translate: 0.5rem;
                    }
                }
                ion-icon
                {
                    color: #fff;
                    width: 1rem;
                    height: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}