
.home
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-block: 10rem;
    p
    {
        width: 45%;
        text-align: center;
        font-size: 14px;
    }
}

h1
{
    width: 75%;
    text-align: center;
    font-size: 60px;
}

.kontakt
{
    border: none;
    background-color: transparent;
    a
    {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    p
    {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        width: auto;
    }
    ion-icon
    {
        width: 1rem;
        height: 1rem;
    }
}

.kontakt:hover
{
    p
    {
        font-weight: 600;
    }
    ion-icon
    {
        transition: all ease 0.5s;
        transform: translateX(1rem);
    }
}

.video
{
    width: 85%;
    padding-inline: 7.5%;
    video
    {
        width: 100%;
        height: 25rem;
        border-radius: 1rem;
    }
}

.cetiri_kartice
{
    margin-block: 7rem;
    margin-inline: 7.5%;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .kartica_br
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        .broj
        {
            font-size: 60px;
            font-weight: 600;
        }
        .tekst
        {
            font-size: 20px;
            width: 7rem;
        }
    }
}

h2
{
    width: 85%;
    height: 4rem;
    font-size: 45px;
    letter-spacing: 1px;
    text-align: start;
    border-bottom: 1px solid #999999;
    margin-bottom: 4rem;
}

.nase_usluge
{
    width: 85%;
    padding-inline: 7.5%;
    padding-block: 2rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #830303;
}

.odlike
{
    width: 85%;
    margin-inline: 7.5%;
    margin-block: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2
    {
        border: none;
        font-size: 40px;
        width: 100%;
        margin: 0;
    }
    img
    {
        width: 40%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 0.75rem;
    }
    
    p
    {
        color: #bdbdbd;
        font-size: 14px;
        letter-spacing: 0.5px;
    }
    
}

.kartice
{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.odlika
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;
}

.subtitle
{
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.subtitle img
{        
    aspect-ratio: 1/1;
    width: 5%;
}

.subtitle p
{
    font-size: 25px; 
    color: white;         
}

.odlika:nth-child(3)
{
    border-block: 1px solid #99999940;
}

.rezerviraj
{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 5%;
    padding-top: 4rem;
    padding-bottom: 7rem;
    margin-block: 5rem;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('src/assets/audi_volan.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.75rem;    
    h2
    {
        border: none;
        font-size: 40px;
        text-align: start;
        width: 60%;
        height: auto;
        margin: 0;
    }
    .tekst
    {
        color: #CCCCCC;
        font-size: 14px;
        width: 30%;
    }
}

@media screen and (max-width: 770px) {
    h2
    {
        font-size: 30px;
    }
    .nase_usluge
    {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }
    .cetiri_kartice
    {
        gap: 1rem;
        .kartica_br
        {
           .broj
            {
                font-size: 35px;
            }
            .tekst
            {
                font-size: 16px;
            } 
        }
    }
    h1
    {
        font-size: 40px;
        width: 80%;
    }
    .title
    {
        padding-block: 15rem;
        p
        {
            width: 65%;
            font-size: 12px;
        }
        .kontakt
        {
            p
            {
                width: auto;
                font-size: 16px;
            }
        }
    }
    .odlike
    {
        flex-direction: column;
        gap: 2rem;
        img
        {
            width: 85%;
        }
        .kartice 
        {
            width: 85%;
            h2
            {
                font-size: 25px;
            }
        }        
    }
    .subtitle img
    {
        width: 7%;
    }
}

@media screen and (max-width: 1100px) {
    .cetiri_kartice
    {
        grid-template-columns: repeat(2, 1fr);
        margin-inline: auto;
    }
    .rezerviraj
    {
        padding-top: 3rem;
        h2
        {
            width: 80%;
            font-size: 30px;
        }
        .tekst
        {
            width: 80%;
        }
    }
}
