
.navBar 
{
    position: fixed;
    top: 0;
    z-index: 16;
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding-inline: 5%;
    padding-block: 1rem;
    background-color: #1B1B1B;
}

.logo 
{
    width: 7rem;
    filter: grayscale(1);
}

.linkovi
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.link
{
    border-bottom: 1px solid transparent;
}

.link:hover
{
    border-bottom: 1px solid #fff;
}

.active
{
    border-bottom: 1px solid #fff;
}

.rezerviraj 
{
    width: 8rem;
    height: 90%;
    background-color: #1B1B1B;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.rezerviraj:hover 
{
    border: 2px solid #fff;
    cursor: pointer;
}

.on_mobile
{
    display: flex;
    gap: 1rem;
}

ion-icon
{
    color: #fff;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 771px) {
    .hamburger
    {
        display: none;
    }
}

@media screen and (max-width: 771px) {
    .linkovi
    {
        display: none;
    }
    .hamburger
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        background-color: transparent;
        border: none;
    }
    .hamburger:hover
    {
        cursor: pointer;
    }
}
